<div class="row">
  <div class="col-sm-5">
    <!-- <app-recipe-list (recipeSelectedinList)= "getRecipeSelected($event)" ></app-recipe-list> -->
    <!--  instead we can directly do this below  instead of reading off a function. -->
    <app-recipe-list></app-recipe-list>

  </div>
  <div class="col-sm-7 recipe_details">
    <!-- <app-recipe-details
      *ngIf="selectedRecipe; else infoText"
       [recipe]="selectedRecipe"
      ></app-recipe-details>
    <ng-template #infoText>
      <p>Please select a recipe to view the details. </p>
    </ng-template> -->
    <router-outlet></router-outlet>
  </div>
</div>
