<!-- used obsevables in this project. instead of the standard emit() -- you will see .next() -->

<!-- <app-header (featureSelected)="onNavigate($event)"></app-header> -->
<app-header></app-header>
<div class="container">
  <!-- <div class="row">
    <div class="col-md-12 d-inline-flex justify-content-center">
      <h1>Angular 6 Programming - Course Project - {{ title }}</h1>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-12">
      <!-- <app-recipes *ngIf="loadedFeature=='recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadedFeature!== 'recipe'"></app-shopping-list> -->
      <router-outlet></router-outlet>
    </div>
  </div>

</div>

